body {
    background: #fff1f7;
}

aside {
    float: left;
    background: deeppink;
    width: 30%;
    padding: 1.5%;
    height: 100vh;
    color: #000;
    border-right: 5px solid mediumvioletred;
}

aside img {
    width: 450px;
    float: left;
}

aside .logo {
    font-size: 120px;
    margin-left: 100px;
    font-weight: bold;
    position: relative;
    top: -120px
}

aside h3 {
    margin-top: 50px;
    font-size: 40px;
}


aside ul {list-style: none}
aside ul li {
    color: #000000;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.05);
}